<main class="index"> {{!-- CONTENIDO PRINCIPAL --}}

    <header class="masthead d-flex"> {{!-- CABECERA --}}

        <div class="container text-center my-auto"> {{!-- my-auto: Centra el contenido de manera vertical --}}

            <h1 class="mb-1">Favorites Links</h1>

            <h3 class="mb-5">

                <em>Store your favorite links</em>

            </h3>

            <a href="/signin" class="btn btn-primary">
                Let's get Started
            </a>



        </div>







    </header>





</main>